<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restrições Alimentares</title>
  <link rel="stylesheet" href="../../Estilos/tela_4 - palavrachave.css">
</head>
<body><div><a href="tela_4 - restricoes.html" class="voltar">Voltar</a></div>
  <div class="container">  
    <div class="card">  <img src="../../Images/logo.png" alt="Logo SafeBite" class="logo" />
      <h2>
        Especifique sua restrição alimentar com uma palavra chave, 
        para facilitar a busca por receitas de risco para você
      </h2>
      <p class="descricao">
        Síndrome da alergia oral (reação cruzada pólen-alimento)
      </p>

      <div class="input-area">
        <input id="inputRestricao" type="text" placeholder="Digite aqui a palavra chave...">
        <button id="btnAdicionar">Adicionar</button>
      </div>

      <div id="listaRestricoes" class="lista"></div>

      <div class="botoes">
        <a href="../tela_4 - menu-principal.html" class="avancar">Avançar</a>
      </div>
    </div>
  </div>

  <script src="../../Script/tela_4 - palavrachave.js"></script>
</body>
</html>
